
.gameboard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    border: 1px solid var(--grid-border);
}

.gameboard-row {
    display: flex;
}

.gameboard-col {
    position: relative;
    width: 34px;
    height: 34px;
    border: 1px solid var(--grid-border);
}

.ship {
    display: flex;
    max-width: max-content;
    background-color: var(--ship-bg);
    cursor: grab;
    /* Align to gameboard grid */
    border-right: 2px solid var(--ship-border);
    border-bottom: 2px solid var(--ship-border);
}

/* HORIZONTAL SHIPS BORDER */
.ship.flex-row .ship-cell {
    border-top: 2px solid var(--ship-border);
    border-left: 2px solid var(--ship-border);
}

/* VERTICAL SHIPS BORDER */
.ship.flex-col .ship-cell {
    border-top: 2px solid var(--ship-border);
    border-left: 2px solid var(--ship-border);
}

.ship-cell {
    position: relative;
    width: 34px;
    height: 34px;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.isMiss {
    z-index: 1;
    outline: 1px solid var(--miss-border);
    border: 1px solid var(--miss-border);
    background-color: var(--ship-miss);
}

.hasShip {
    z-index: 2;
    outline: 1px solid var(--ship-border);
    border: 1px solid var(--ship-border);
    background-color: var(--ship-bg);
}

.isHit {
    z-index: 3;
    outline: 1px solid  var(--ship-hit-border);
    border: 1px solid var(--ship-hit-border);
    background-color: var(--ship-hit);
}

.positioned {
    z-index: 1;
    position: absolute;
    top: -2px;
    left: -2px;
}

.gameboard-col.hovered {
    background-color: yellow;
}

.ship.dragging {
    opacity: 1;
}

.cell.invalid-drop {
    background-color: red;
}

.invalid-cell {
    cursor: not-allowed;
}

.gameboard > .player-board-span {
    position: absolute;
    /* text-align: center; */
    top: -2.2rem;
    left: 1px;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 340px;
}

.gameboard > .player-board-span > div {
    width: 15px;
    height: 15px;
}

.being-attacked {
    box-shadow: 0px 0px 15px 2px var(--red-shadow);
    cursor: crosshair;
}