.gameboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid lightpink;
}

.gameboard-row {
    flex: 1;
    display: flex;
}

.gameboard-col {
    flex: 1;
    outline: 1px solid lightgrey;
    position: relative;
}

.hasShip {
    outline: 1px solid red;
    z-index: 1;
}

.isHit {
    background-color: lightcoral;
}

.isMiss {
    background-color: lightgrey;
}

.positioned {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}