
.gameboard {
    --border-color: #e2e8f0;


    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* outline: 2px solid var(--border-color); */

}

.gameboard-row {
    display: flex;
    /* border-top: 1px solid lightgrey; */
}

.gameboard-col {
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);

}

.gameboard-col:last-child {
    border-right: 2px solid var(--border-color);
}

.gameboard-row:last-child .gameboard-col {
    border-bottom: 2px solid var(--border-color);
}

.gameboard-col {
    width: 34px;
    height: 34px;
    /* border: 1px solid lightgrey; */
    position: relative;
}

/* .gameboard-col:first-child {
    border-right: 2px solid var(--border-color);
} */



.ship {
    max-width: max-content;
    background-color: var(--ship-bg);
    display: flex;
    /* outline: 1px solid var(--ship-border); */
    cursor: grab;
}

/* HORIZONTAL SHIPS BORDER */
.ship.flex-row .ship-cell {
    border-top: 2px solid var(--ship-border);
    border-bottom: 2px solid var(--ship-border);
    border-left: 2px solid var(--ship-border);

}
.ship.flex-row .ship-cell:last-child {
    border-right: 2px solid var(--ship-border);
}
/* VERTICAL SHIPS BORDER */
.ship.flex-col .ship-cell {
    border-top: 2px solid var(--ship-border);
    border-right: 2px solid var(--ship-border);
    border-left: 2px solid var(--ship-border);

}
.ship.flex-col .ship-cell:last-child {
    border-bottom: 2px solid var(--ship-border);
}

.ship-cell {
    width: 34px;
    height: 34px;
    position: relative;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.gameboard-col.hovered {
    background-color: yellow;
}

.ship.dragging {
    opacity: 1;
}

.cell.invalid-drop {
    background-color: red;
}


.hasShip {
    outline: 1px solid red;
    z-index: 1;
}

.isHit {
    background-color: lightcoral;
}

.isMiss {
    background-color: lightgrey;
}

.positioned {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1;
}

