* {
    margin: 0;
    padding: 0;
}

svg {
    width: 24px;
}

body {
    --shadow: #f1f5f9;
    --hit-shadow: #fb7185;
    --grid-border: #ddd6fe;
    --ship-bg: hsl(201, 96%, 80%);
    --ship-border: hsl(188, 88%, 46%);
    --ship-hit: #fb7185;
    --ship-miss: hsl(60, 96%, 85%);
    --miss-border: hsl(60, 46%, 75%);
    --ship-hit-border: hsl(345, 83%, 46%);
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
    color: #171717;
}

body > header {
    display: flex;
    align-content: center;
    height: 5;
    padding: .6rem 2rem;
}

body > main {
    flex: 1;
    display: flex;
    padding: 0 2rem;
}

body > footer {
    height: 4rem;
    display: grid;
    place-content: center;
    padding: 1rem 2rem;
}

body > header > h1 {
    font-size: 1.6rem;
}
.game-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.boards-header {
    display: grid;
    place-content: center;
}

.boards-container {
    flex: 1;
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-areas: "board-1 board-2";
    gap: 2rem;
}

.boards-footer {
    display: grid;
    justify-content: center;
    padding: 1.4rem 0;
    gap: 0.8rem;
    text-align: center;
}

.footer-text {
    height: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-weight: 900;
}

.footer-text > div {
    display: flex;
    gap: .4rem;
    align-items: center;
}

.boards-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.boards-btns > button {
    padding: .4rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.boards-container > div {
    min-width: 340px;
    min-height: 340px;
}

.player1-container {
    grid-area: board-1;
}

.player2-container {
    grid-area: board-2;
}

.player1-container,
.player2-container {
    box-shadow: 1px 1px 8px 3px var(--shadow);
    display: flex;
    /* width: 200px;
    height: 200px; */
}

.place-ships-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: .8rem;
}

.ships-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .8rem;
    justify-self: start;
    align-self: start;
}

.place-ships-wrapper .ships-btns {
    height: max-content;
    padding: .8rem 0 0 0;
    display: flex;
    gap: .8rem;
}
.ships-btns button {
    width: 5rem;
    height: 2rem;
}
.passScreen {
    z-index: 4;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    display: grid;
    gap: .8rem;
    /* justify-items: center; */
    place-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.passScreen > h3 {
    font-size: 1.6rem;
}

.passScreen > button {
    font-size: 1.3rem;
    color: white;
    font-weight: 900;
    padding: .3rem 1rem;
    background-color: var(--ship-bg);
    border-radius: .2rem;
    border: 3px solid var(--ship-border);
    cursor: pointer;
}

.cell-type {
    width: 20px;
    height: 20px;
}